
body{
background:#0f172a;
color:white;
font-family:Poppins,sans-serif;
}


section{
padding:80px 10%;
}
.card,
.project-card,
.skill-card,
.certificate-card{

background:rgba(255,255,255,0.05);

backdrop-filter:blur(10px);

border-radius:20px;

padding:20px;

transition:0.3s;

}
.card:hover,
.project-card:hover,
.skill-card:hover,
.certificate-card:hover{

transform:translateY(-8px);

}
.skills-grid,
.certificate-grid{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(250px,1fr));

gap:20px;

}
.certificate-card img{

width:100%;

height:250px;

object-fit:cover;

border-radius:10px;

}
#project-container{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(300px,1fr));

gap:20px;

}
html{
scroll-behavior:smooth;
}